.main_footer{
  background-color: var(--bg-primary-color);
  padding-bottom: 30px;
}
.lets-collaborate {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 0;
  height: 500px;
  width: 100vw;
  gap: 150px;
}
.collab-container {
  text-align: left;
}
h1.collab-heading {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
  color: var(--txt-primary-color);
}
.collab-links {
  margin-top: 20px;
}
.collab-links a {
  color: #808080;
  text-decoration: none;
  margin-right: 15px;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
  }
.collab-links .hover  a{
  position: relative;
  padding-left: 40px;
  color: var(--txt-primary-color);
  font-size: 18px;
}

.hovered::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  transition: width 0.3s ease, height 0.3s ease;
  width: 40px;
  height: 4px;
  background-color: var(--txt-primary-color);
}
.collab-links a:hover {
  color: var(--txt-primary-color);
  transform: translateX(10px);
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--txt-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  animation: rotateArrow 2s ease-in-out infinite;
  transition: background-color 0.5s ease;
}

.arrow {
  color: var(--txt-primary-color);
  animation: rotateArrow 2s ease-in-out infinite;
  transition: opacity 0.5s ease;
}
.hire-me {
  font-size: 18px;
  color: var(--bg-primary-color);
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.circle:hover {
  background-color: var(--txt-primary-color);
}
.circle:hover .arrow {
  opacity: 0;
}

.circle:hover .hire-me {
  opacity: 1;
}
@keyframes rotateArrow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(55deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
    
footer {
  background-color:var(--bg-primary-color);
  color:var(--txt-primary-color);
  padding: 20px;
  font-family: monospace;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.logo {
  font-size: 24px;
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

.divider {
  height: 3px;
  background-color: #333333;
  margin: 5px 0;
}

.copyright {
  font-size: 18px;
  color: #888888;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .lets-collaborate{
	flex-direction: column;
	gap: 20px;
	margin-bottom: 0px;
	height: fit-content;
  }
  h1.collab-heading{
	font-size: 3rem;
  }
  .logo {
	font-size: 18px;
	font-weight:normal;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  } 
}
