.project-card_container{
  background-color: #0C0C0C;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-card{
  width: 70%;
  background-color: transparent;
  min-width: 400px;
  border-left: 2px solid #2C3237;
  border-right: 2px solid #2C3237;
  height: 100%;
  min-height:100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
.project-image{
  min-height: 350px;
  height: 40%;
  max-height: 350px;
  width: 100%;
  background-position: center;
  border-radius: 5px;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.project-paragraph{
  color: white;
  padding:20px;

  
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
}
.user-story {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  padding: 20px 0;
  margin-bottom: 20px;
}
.tech-stack {
  margin-bottom: 20px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.back-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.view-button {
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
