.lets-collaborate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  border-top: 1px solid var(--txt-primary-color);
}
.collab-container {
  text-align: left;
}
h1.collab-heading {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}
.collab-links {
  margin-top: 20px;
}
.collab-links a {
  color: #808080;
  text-decoration: none;
  margin-right: 15px;
  font-size: 0.9rem;
}
.collab-links a:hover {
  text-decoration: underline;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--txt-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  animation: rotateArrow 2s ease-in-out infinite;
  transition: background-color 0.5s ease;
}
.arrow {
  color: var(--txt-primary-color);
  animation: rotateArrow 2s ease-in-out infinite;
  transition: opacity 0.5s ease;
}
.hire-me {
  font-size: 18px;
  color: var(--bg-primary-color);
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.circle:hover {
  background-color: var(--txt-primary-color);
}
.circle:hover .arrow {
  opacity: 0;
}
.circle:hover .hire-me {
  opacity: 1;
}
@keyframes rotateArrow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(55deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
