.about-page {
  margin-top: 100px;
  color: var(--txt-primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
    padding: 20px;
	align-items: center;
	gap: 30px;
}

.about-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-page p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 600px;
}

.about-img {
  position: relative;
    background:url('/assets/myimage_2.jpg');
    background-size: cover;
    background-position: top;
	opacity: 0.8;
    width: 30%;
	min-height: 200px;
	min-width: 300px;
    height: 400px; /* Adjust based on your needs */
	filter: grayscale(1);
}


.bottom-overlay{
  bottom: 0;
  right: 0;
}
/* second style */
.bottom-overlay, .top-overlay{
  height: 50%;
  width: 100%;
  position: absolute;
  background-color:   #272727;
}

.bottom-overlay{
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
    .about-page {
        flex-direction: column;
	}
}
