
/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.body-items-container{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color:var(--bg-primary-color);
  flex-direction: column;
}
/* Initial animation container */
.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1000;
}
.article_wrapper{
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 100px;
}
/* Main content container */
.App {
  width: 100%;
  background-color: #0c0c0c;
  color: white;
  overflow-x: hidden;
}

/* Counter section */
.counter {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e3e3;
  transform: translate(-50%, -50%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  text-align: center;
  z-index: 0;
}

.work {
  color: var(--bg-primary-color);
  line-height: 50px;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 10px;
}

.kings {
  font-size: 60px;
  letter-spacing: 10px;
  font-weight: 300;
  color: var(--bg-primary-color);
}

.counter-text {
  color: var(--bg-primary-color);
  line-height: 50px;
  font-size: 30px;
}

/* Hero section */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #0c0c0c;
  align-items: center;
  transform: translate(-50%, -50%) scale(0.7);
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: transform;
  z-index: 1;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--txt-primary-color);
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


/* Developer page */
.developer-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* neoma*/


img {
  width: 400px;
  height: 100%;
  object-fit: cover;
}
.counter {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e3e3;
  transform: translate(-50%, -50%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  text-align: center;
  z-index: 0;
}
.work{
  color: var(--bg-primary-color);
  line-height: 50px;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.counter-text {
  color: var(--bg-primary-color);
  line-height: 50px;
  font-size: 30px;
  font-weight:30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #0c0c0c;
  align-items: center;
  transform: translate(-50%, -50%) scale(0.7);
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: transform;
  z-index: 1;
}
.kings{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 60px;
  letter-spacing: 10px;
  font-weight: 300;
  color: var(--bg-primary-color);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color:var(--txt-primary-color);
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media only screen and (max-width: 768px) {
  .kings{
	font-size: 25px;
  }
  .work{
	font-size: 16px;
  }
  .counter-text{
	font-size: 20px;
  }
}
/*****/
*{
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: lighter;
  max-width: 100vw;
}
.App{
  width: 100vw;
  display: block;
  background-color: #0c0c0c;
  overflow: hidden;
}
.developer-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Arial, sans-serif;
  background-color: #0c0c0c;
  align-items: center;
  
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
  padding-left: 0;
  max-height: 70vh;
  
  padding-right: 0;
}

#web-mobile-h1 {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  height: auto;
  white-space: pre;
  transform-perspective: 1200;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-style: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--token-6f580709-fc03-41b2-bbac-1de56e3a6022, #ffffff);
  font-size: 50px;
  letter-spacing: -0.04em;
  line-height: 1.2;
}
.circle_img {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 4px;
  border-radius: 50%;
  background-image: url('/img/Fantasy-Lake2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

#web-mobile-h1 .left-align {
  align-self: flex-start;
}

#web-mobile-h1 .right-align {
  align-self: flex-end;
}
p {
  font-size: 1.2rem;
  opacity: 0.8;
}

.image-section {
  height: 30vh;
  background-image: url('/projects_images/linkedin_banner.png');
  border-radius: 10px;
  background-size: cover;
  max-height: 150px;
  min-height: 150px;
  background-position: center;
  width: 95%;
  display: flex;
  justify-content: center;
  align-itemes: center;
  position: relative;
}
.image-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.4);
  position: relative;
  border-radius: 30px;
}

#hover_button {
  padding: 0.5rem 1rem;
  height: 70px;
  width: 70px;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  background-color: white;
  color: black;
  border: none;
  position: absolute;
  top: -25px;
  left: 25px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#hover_button:hover {
  background-color: transparent;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid white;
  color: white;
}
/* projects */
.project-item-container {
  flex-direction: column;
  min-height: 200px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 89px;
}
.project-item-header{
  width: auto;
  height: auto;
  white-space: pre;
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: var(--txt-primary-color, #dddddd);
  font-size: 65px;
  letter-spacing: 0em;
  width: 70%;
  margin-bottom: 79px;
  line-height: 1.4;
}
@media (min-width: 766px){
  .circle_img{
	height: 70px;
	width: 70px;
  }
  .developer-page{
	height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
	align-items: center;
  }
  .content{
	position: relative;
  }
  #web-mobile-h1{
	margin-top: 100px;
	font-weight: 200px;
	padding: 20px;
	margin-bottom: 100px;
	font-size: 130px;
	width: 80%;
  }
  .content P{
	position: absolute;
	top: 40%;
	right: 10%;
  }
  .image-section{
  min-height: 300px;
  max-height: 300px;
  width: 90%;
}
}
