
/* global.css */
:root {
  --bg-primary-color: #0c0c0c; 
  --txt-primary-color: #d3d3d3;
  --font-size-base: 16px;
  --font-size-large: 24px;
  --padding-base: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
a{
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar {
    width: 5px; /* Adjust this value to change the width */
}

body {
  font-family: Poppins;
  height: 100vh;
  display: grid;
  width: 100vw;
  overflow-x: hidden;
  place-items: center;
}
