/* Main Heading */
.kingsley {
  font-size: 25px;
}
.menu-bar, .menu-overlay{
  position: fixed;
  top: 0;
  left: 0;
  padding: 2em;
  display: flex;
  align-items: center;
  z-index: 1;
}

.menu-bar-txt{
  color: var(--txt-primary-color);
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  background-color: var(--txt-primary-color);
  z-index: 2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  color: var(--bg-primary-color);
  justify-content: space-between;
  flex-direction: column;
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

.menu-link-item-holder {
  position: relative;
}
.menu-bar a {
  cursor: pointer;
}

.menu-open p {
  cursor: pointer;
}
.menu-link-item-holder a {
  color: #000;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}
.menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-close-icon p {
  font-size: 100px;
  -webkit-text-stroke: 5px var(--bg-primary-color);
  line-height: 70%;
}
.menu-close-icon {
  flex: 2;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.menu-copy {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
}
.menu-info-col{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .menu-close-icon {
    display: none;
  }

  .menu-copy {
    padding-top: 8em;
  }

  .menu-link-item-holder a {
    font-size: 60px;
  }
}
