/* Main Heading */
.kingsley {
  font-size: 25px;
}
.menue, .menuebar, .menu_overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
.menue{
  color: var(--bg-primary-color);
  background-color: var(--txt-primary-color);
}
.menubar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:0 2em;
  z-index: 1;
  background-color: red;
}
.menu_overlay{
  z-index: 2;
  display: flex;
  background-color: blue;
}
.overlay-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:0 2em;
  z-index: 1;
}
.menu {
  display: flex;
  width: 100%;
  height: 70px;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: var(--bg-primary-color);
  z-index: 3;
}

/* Hover Box List and Menubar Alt Combined */
.menu-info .menu-info-col{
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  padding-right: 40px;
  margin: 0;
  margin-right: 5px;
  flex-direction: row;
}
.menue ul.hover-box-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  padding-right: 40px;
  margin: 0;
  margin-right: 30px;
  flex-direction: column;
}

.menu-info .menu-info-col a::before, .menue ul.hover-box-list li::before {
  position: relative;
  padding-left: 40px;
  color: var(--txt-primary-color);
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu-info .menu-info-col a::before, .menue ul.hover-box-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  transition: width 0.3s ease, height 0.3s ease;
}
.menue ul.hover-box-list li::after {
  width: 40px;
  height: 4px;
  background-color: var(--txt-primary-color);
}

.menu-info .menu-info-col a:hover, .menue ul.hover-box-list li:hover {
  color: var(--txt-primary-color);
  transform: translateX(10px);
}

/* Logo in Menuebar */
.menue .logos {
  padding-left: 30px;
  display: flex;
  align-items: center;
  height: 100%;
}



/* Responsive Styles */

@media (min-width: 769px) {
  /* Main Heading */
 .kingsley {
   font-size: 50px;
 }

}
