/* Main Heading */
.kingsley {
  font-size: 20px;
  color: #d9d9d9;
}

/* Menu Bar for larger screens */
.menuebar_alt {
  display: flex;
  width: 100%;
  height: 70px;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  backdrop-filter: blur(10px);
  z-index: 99999999;
}

/* Hover Box List and Menubar Alt Combined */
.menuebar_alt ul.hover-box-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.menuebar_alt ul.hover-box-list li {
  position: relative;
  padding-left: 40px;
  color: var(--txt-primary-color);
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menuebar_alt ul.hover-box-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  transition: width 0.3s ease, height 0.3s ease;
}

.menuebar_alt ul.hover-box-list li:hover::before {
  width: 40px;
  height: 4px;
  background-color: var(--txt-primary-color);
}

.menuebar_alt ul.hover-box-list li:hover {
  color: var(--txt-primary-color);
  transform: translateX(10px);
}

/* Logo in Menuebar */
.menuebar_alt .logos {
  padding-left: 30px;
  display: flex;
  align-items: center;
  height: 100%;
}

#small_menuebar {
  display: none;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: var(--txt-primary-color);
}

@media (max-width: 768px) {
  #small_menuebar {
    display: flex;
  }
}
/* Dropdown for Small Menu Bar */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--bg-primary-color);
  transition: 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
}

.dropdown.open {
  display: flex;
  z-index: 99999999999;
  height: 500px;
}

.dropdown_ul {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0;
  list-style: none;
}

.dropdown_ul li {
  margin-bottom: 10px;
}

.dropdown_ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.dropdown-logo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.dropdown-logo img {
  height: 50px;
  object-fit: contain;
}

/* Responsive Styles */
@media (max-width: 768px) {

  .menuebar_alt {
    display: none;
  }

  #small_menuebar {
    display: flex;
  }
}

@media (min-width: 769px) {
  /* Main Heading */
 .kingsley {
   font-size: 50px;
   color: #d9d9d9;
 }
  .menuebar_alt {
    display: flex;
  }

  #small_menuebar {
    display: none;
  }
}
