/* Main Heading */
.kingsley {
  font-size: 2.5rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}
.menu-bar, .menu-overlay{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.menu-close{
  cursor: pointer;
}
.menu-bar-txt{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  padding-left: 0px;
  padding-right: 20px;
  /* background-color: var(--bg-primary-color); */
  justify-content: space-between;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  padding-left: 0px;
  padding-right: 20px;
  width: 100vw;
  height: 100vh;
  background-color: var(--txt-primary-color);
  z-index: 2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  color: var(--bg-primary-color);
  flex-direction: column;
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

.menu-link-item-holder {
  position: relative;
}
.menu-bar a {
  cursor: pointer;
}

.menu-open p {
  cursor: pointer;
}
.menu-link-item-holder a {
  color: #000;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}
.menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-close-icon p {
  font-size: 50px;
  -webkit-text-stroke: 3px var(--bg-primary-color);
  line-height: 70%;
}
.menu-close-icon {
  flex: 2;
  width: 40px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.menu-overlay-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4em 0.5;
  justify-content: space-between;
}
.menu-copy {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
}
.menu-info-col{
  margin-top: 2em;
  flex: 1;
  display: flex;
  flex-direction: row;
}
.menu-info-col a{
  margin-right: 20px;
}

@media (max-width: 900px) {
  .menu-close-icon {
    display: none;
  }
  .menu-copy {
    padding-top: 8em;
  }

  .menu-link-item-holder a {
    font-size: 80px;
  }
}
