.article_parent{
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
}
.article_banner {
  height: 80%;
  background: url('./images/image-product-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article_banner #overlay button{
  background-color:rgba(250, 250, 250, 0.0);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 20px;
  height: 45px;
  border: 2px solid var(--txt-primary-color);
  font-size: 20px;
  padding: 5px;
  width: 150px;
}

.article_banner #overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.article_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 20%;
  padding: 10px;
  width: 100%;
}
.article_text p{
  color: white;
  font-size: 20px;
  
}
